<?xml version="1.0" encoding="utf-8"?>
<DBConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Connections>
    <Connection ID="inonedb" DBType="MySql" ConnectionString="Server=192.168.0.111;charset=utf8;Database=ehr_online;Uid=root;Pwd=root;default command timeout=120;Pooling=true;Min Pool Size=0;"></Connection>
    <Connection ID="watchdb" DBType="MySql" ConnectionString="Server=192.168.0.111;charset=utf8;Database=ehr_watch;Uid=root;Pwd=root;default command timeout=120;Min Pool Size=0;"></Connection>
  </Connections>
</DBConfigInfo>