<?xml version="1.0" encoding="utf-8"?>
<SortOutConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Jobs>
    <JobInfo>
      <Name>job1</Name>
      <GroupName>group1</GroupName>
      <Cron>0/5 * * * * ?</Cron>
      <Enable>true</Enable>
	  <JobType>ZTImage.SchedulerDaemon.HelloJob</JobType>
	  <JobAssembly>ZTImage.SchedulerDaemon</JobAssembly>
	  <Description>这是一个测试Demo</Description>
	  <Data >this is data</Data>
    </JobInfo>

	  <JobInfo>
		  <Name>job2</Name>
		  <GroupName>group1</GroupName>
		  <Cron>0/3 * * * * ?</Cron>
		  <Enable>true</Enable>
		  <JobType>DIDI.LoopCount</JobType>
		  <JobAssembly>DIDI</JobAssembly>
		  <Description>这是一个测试Demo</Description>
		  <Data >this is data</Data>
	  </JobInfo>
  </Jobs>
</SortOutConfigInfo>