<?xml version="1.0" encoding="utf-8"?>
<SchedulersConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Jobs>
    <!--<JobInfo>
      <Name>demo1</Name>
      <GroupName>demog1</GroupName>
      <Cron>0/30 * * * * ?</Cron>
      <Enable>true</Enable>
	    <JobType>OneMoreDemo.DemoJob</JobType>
	    <JobAssembly>OneMoreDemo</JobAssembly>
	    <Description>这是一个测试Demo,测起来好厉害的</Description>
	    <Data>好厉害的信息</Data>
    </JobInfo>-->
	  <JobInfo>
		  <Name>sortout</Name>
		  <Cron>0/3 * * * * ?</Cron>
		  <Enable>true</Enable>
		  <JobType>Surezen.SortOut.LBSConvert</JobType>
		  <JobAssembly>Surezen.SortOut</JobAssembly>
		  <Description>腕表LBS转GPS坐标</Description>
		  <Data></Data>
	  </JobInfo>
  </Jobs>
  <Port>12307</Port>
</SchedulersConfigInfo>