<?xml version="1.0" encoding="utf-8"?>
<SchedulersConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Jobs>
	  <JobInfo>
		  <Name>rundemo</Name>
		  <Cron>0/3 * * * * ?</Cron>
		  <Enable>true</Enable>
		  <JobType>ServiceTest.RunDemo</JobType>
		  <JobAssembly>ServiceTest</JobAssembly>
		  <Description>demo</Description>
		  <Data>this is test</Data>
	  </JobInfo>
  </Jobs>
  <Port>12307</Port>
</SchedulersConfigInfo>